$main-green: rgb(117, 199, 40);

@mixin btn {
  padding: 8px;
  border: none;
  width: 60%;
  height: 10%;
  background: #ffffff;
  cursor: pointer;
  outline: none;
}

@mixin hover {
  background-color: rgb(243, 240, 240);
  height: 20%;
  opacity: 0.6;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
  color: $main-green;
  font-weight: bold;
}

@mixin basicimg {
  object-fit: cover;
  width: 100%;
  border-radius: 5%;
  opacity: 0.9;
}

@mixin subtitle {
  margin: 15px 30px;
}
