$main-green: rgb(117, 199, 40);

@mixin btn {
  padding: 8px;
  border: none;
  width: 60%;
  height: 10%;
  background: #ffffff;
  cursor: pointer;
  outline: none;
}

@mixin hover {
  opacity: 0.6;
  color: $main-green;
  font-weight: bold;
}

@mixin basicimg {
  object-fit: cover;
  width: 100%;
  border-radius: 5%;
  opacity: 0.9;
}

@mixin subtitle {
  margin: 15px 30px;
}
