@import "../../styles/mixins.module.scss";

.logo {
  margin: 30px;
  color: rgb(59, 59, 59);
  justify-content: center;
  text-align: center;

  &:hover {
    // @include hover;
    // text-shadow: none;
    height: 20%;
    opacity: 0.6;
    color: #3cbd72;
    font-weight: bold;
  }
}