@import "../../styles/mixins.module.scss";

.logo {
  margin: 30px;
  color: rgb(59, 59, 59);
  justify-content: center;
  text-align: center;

  &:hover {
    height: 20%;
    opacity: 0.6;
    color: $main-green;
    font-weight: bold;
  }
}
