@import "../../styles/mixins.module.scss";

.logo {
  margin: 20px;
  color: rgb(88, 52, 52);
  justify-content: space-between;
  a :hover {
    background-color: none;
    box-shadow: none;
    color: rgb(88, 52, 52);
  }
}
a :hover {
  background-color: none;
  box-shadow: none;
  color: rgb(88, 52, 52);
}

h2 {
  margin: 5px;

  &:hover {
    color: $main-green;
    font-weight: bold;
  }
}

.cart__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: none;
  outline: none;
  font-size: large;
  color: rgb(59, 59, 59);

  &:hover {
    color: $main-green;
    font-weight: bold;
  }
}

.icon {
  margin-top: 6px;
  margin-left: 6px;
}

.row {
  margin: 0 15px;
}
