@import "../../styles/mixins.module.scss";

.navList__wrapper {
  margin: 25px;
  background: rgb(255, 255, 255);
}

.cart__btn {
  background-color: white;
  border: none;
  outline: none;
  font-size: large;
  color: rgb(59, 59, 59);

  &:hover {
    @include hover;
  }
}
.navMenu__wrapper {
  display: flex;
  justify-content: space-around;
}

.navCart__wrapper {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  &:hover {
    @include hover;
  }
}
