@import "../../styles/mixins.module.scss";

.menuSubtitle {
  @include subtitle;
}

.form {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #3cbd72;
}
input {
  margin-top: 5px;
  width: 100%;
}

textarea {
  margin-top: 5px;
  width: 100%;
}
