/* global
$mgreencolor: rgb(142, 219, 70); */

* {
  padding: 2px;
  box-sizing: border-box;
  font-family: Montserrat, serif;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
p {
  margin: 0 15px;
}
